* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

.password-setup-page {
  background-image: url(background\ image\ 1.svg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-setup-card {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 424px;
  height: 467px;
  gap: 15px;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
}

.password-setup-card .logo img {
  margin-top: 30px;
}

.password-setup-page h4 {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.password-setup-card .password-Container input {
  font-size: 16px;
  font-weight: 400;
  color: #667085;
  width: 360px;
  height: 44px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 10px 14px;
  margin: 10px 0px;
  cursor: pointer;
}

.password-setup-card .password-suggestion {
  margin-right: auto;
  padding-left: 35px;
}

.password-setup-card .password-suggestion-checkboxes {
  margin-bottom: 8px;
  color: #333333;
}

.password-setup-card button {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #14c8b8;
  width: 360px;
  height: 44px;
  border: 1px solid #46b19b;
  border-radius: 8px;
  cursor: pointer;
}
